<div class="container contain2">
    <div class="hukidasi">
        <h1>管理者トップページ</h1>

        <p>
            お疲れ様です！シャチョー！！！！！<br>
            今日の日付は<br>
            <%= Date.current.strftime('%Y/%m/%d') %><br>
            です！！<br>
            今日も張り切っていきましょーー！！！！
        </p>
    </div>
</div>