<div class="container contain2">
    <div class="hukidasi">
        <h1>退会処理されました</h1>

        <p>
            退会処理が完了しました。<br>
            うちの子。を使っていただきありがとうございました！<br>
            また可愛いうちの子を自慢したくなったら<br>
            戻ってきてくださいね。
        </p>
        <%= link_to "うちの子。トップページへ", root_path %>
    </div>
</div>