<div class="container contain2">
    <div class="hukidasi">
        <h1>会員様一覧ページ</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ユーザー名</th>
                    <th scope="col">メールアドレス</th>
                    <th scope="col">ステータス</th>
                </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
                <tr>
                    <th scope="row">画像</th>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td>nil</td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>