<div class="contain2">
<div class="hukidasi">
    <h1>うちの子。ってなに？</h1>
    <h2>〜What is Uchinoko?〜</h2>
    <p>
        うちの子。はペット自慢専用SNSです。<br><br>
        うちの子が可愛すぎて、みんなに自慢したい！<br>
        みんなに見てほしいうちの子の可愛い写真がいっぱいある！<br>
        でも、毎回ペットの写真載せたら迷惑かな...？<br>
        でもでも、うちの子の可愛い姿を全世界に発信したーい！！<br><br>
        そんな悩みを抱えたあなたのために生まれました。<br>
        ここでなら、他の人の心配をする必要はありません。<br>
        ここではみんなが親バカです。<br>
        思いっきりあなたの可愛いうちの子を自慢してください！
    </p>
</div>
</div>