<div class="contain">
    <div class="toppage">
        <div class="container">
            <h1>うちの子。へようこそ！</h1>
            <p>
                うちの子。はあなたのペット自慢を<br>
                思う存分していただくサイトになります。<br>
                さあ、親バカへの扉を開けましょう！<br>
            </p>
            <p class="mal">
                <%= link_to "Welcome to うちの子。", about_path, class: "btn-malformation" %>
            </p>
        </div>
    </div>
</div>