<div class="contain">
    <div class="toppage">
        <div class="container">
            <div class="animate-title inview">
            <span class="char">う</span>
            <span class="char">ち</span>
            <span class="char">の</span>
            <span class="char">子</span>
            <span class="char">へ</span>
            <span class="char">よ</span>
            <span class="char">う</span>
            <span class="char">こ</span>
            <span class="char">そ</span>
            <span class="char">！</span>
        </div>
            <p>
                うちの子。はあなたのペット自慢を<br>
                思う存分していただくサイトになります。<br>
                さあ、親バカへの扉を開けましょう！<br>
            </p>
            <p class="mal">
                <%= link_to "Welcome to うちの子。", about_path, class: "btn-malformation" %>
            </p>
        </div>
    </div>
</div>