/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.navbar-nav {
    line-height: 80px;
}

.header-css {
    background-color: #FF8856;
}

.header-logo {
    color: white;
    transition: all 0.3s;
    font-size: 20px;
    &:hover {
        color: dimgrey;
        text-decoration: none;
        letter-spacing: 3px;
    }
}

.logobig {
    color: white;
    font-size: 30px;
    transition: all 0.3s;
    &:hover {
        color: dimgrey;
        text-decoration: none;
    }
}

.navbar .nav-item {
    padding-right: 15px;
}

.toppage {
    text-align: center;
    padding: 130px 0 300px 0;
    color: white;
    & h1 {
        text-align: right;
    }
    & p {
        text-align: right;
        font-size: 30px;
    }
}
.contain {
    background-image: url('3980993_s.jpg');
    background-size: cover;
    background-position: center;
}
.all {
    font-family: 'Yusei Magic', sans-serif;
}

.mal {
    padding-top: 100px;
}

a.btn-malformation {
    font-size: 2rem;
    padding: 3rem 4rem;

    color: #fff;
    border-radius: 100% 80px / 80px 100%;
    background-color: #FF8856;
    transition: all 0.3s;

    &:hover {
        color: #fff;
        border-radius: 60% 80% / 100% 80%;
        text-decoration: none;
    }
}

.contain2 {
    text-align: center;
}


.hukidasi {
    & p {
        font-size: 20px;
    }
    & h2 {
        padding-bottom: 50px;
    }
    & h1 {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #FF8856;
    color: white;
    font-size: 50px;

    &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #FF8856;
    }
}
}

.userlogo {
    font-size: 40px;
}

.test {
    display: inline-block;
}

.balloon {
position: relative;
background-color: #FFFF88;
border: 2px solid black;
color: dimgrey;
border-radius: 50%;
font-size: 20px;
margin: 0 auto;
}

.balloon::before,
.balloon::after {
content: '';
position: absolute;
border: 12px solid transparent;
top: 100%;
left: 50%;
}

.balloon::before {
border-top: 12px solid black;
}

.balloon::after {
margin-top: -4px;
border-top: 12px solid #FFFF88;
}

.btn-square {
  display: inline-block;
  font-size: 30px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FF8856;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px black;
  border-radius: 10px;
  margin: 20px 0 50px 0;
  transition: all 0.3s;
}
.btn-square:hover {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
  text-decoration: none;
  color: dimgrey;
}

.login-btn {
    background-color: #FF8856;
    color: white;
}

.testtest {
    background-color: dimgrey;
    padding: 50px 0 30px 0;
    margin-bottom: 50px;
    text-align: center;
}

.testt {
    background-color: white;
    border-radius: 50%;
}

.white {
    color: white;
}